nav {
  background-color: #2b2c3a;
  height: 72px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom-color: #97979731;
  border-bottom-width: 1px;
  // border-bottom-color: #3c3c4a;
}

.text {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding-left: 1em;
  padding-right: 1em;
}

.link {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

.link:hover {
  color: #ffffff;
  opacity: 1;
  background-color: transparent;
  text-decoration: underline;
  text-decoration: none;
}

.wallet {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  background-color: #3b3c4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.25em;
  border-radius: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.sign-button {
  background-color: #6f6eff;
  color: white;
  display: flex;
  align-items: center;
}

.logout {
  background-color: #8f2117;
  color: white;
  height: 1.8em;
  display: flex;
  align-items: center;
}

.logout:hover {
  background-color: #ff4738;
}

.right-part-user {
  display: flex;
  align-items: center;
}

.right-part-public {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
