@import 'src/variables';

nav {
  background-color: $form-background;
  height: 72px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
}

.dollar-img {
  content: url('../../../../../../assets/images/interface/dollar-symbol.png');
  width: 18px;
}

.text {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  padding-left: 1em;
  padding-right: 1em;
}

.link {
  font-family: 'Roboto', sans-serif;
  color: white;
  opacity: 0.6;
  font-size: 14px;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

.link:hover {
  color: white;
  opacity: 1;
  background-color: transparent;
  text-decoration: underline;
  text-decoration: none;
}

.wallet {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: $wallet-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.25em;
  border-radius: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.sign-button {
  background-color: $purple;
  color: white;
  display: flex;
  align-items: center;
}

.logout {
  background-color: $dark-red;
  color: white;
  height: 1.8em;
  display: flex;
  align-items: center;
}

.logout:hover {
  background-color: $orange-interface;
}

.right-part-user {
  display: flex;
  align-items: center;
}

.right-part-public {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-border {
  border-right: 1px solid $border-color;
}
