<nav>
  <div class="logo content-padding">
    <img src="../../../../../../assets/images/interface/logo.png" alt="logo" />
    <div class="text logo-padding">GAMUS</div>
    <div class="text alfa-logo">alfa</div>
  </div>
  <div class="text content-padding">
    <mat-accordion multi [displayMode]="mode">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="space-between">
            <div>GAMES</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="space-between">All Games</div>
          <div class="space-between">My favourite Games</div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="space-between">
            <div>Categories</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="inline-text">
          <div class="space-between">
            <div class="inline-content">
              <span class="icon">
                <i class="fas fa-fighter-jet"></i>
              </span>
              <p class="inline-space inline-text">Action</p>
            </div>
          </div>
          <div class="space-between">
            <div class="inline-content">
              <span class="icon">
                <i class="fas fa-rocket"></i>
              </span>
              <p class="inline-space inline-text">Adventure</p>
            </div>
          </div>
          <div class="space-between">
            <div class="inline-content">
              <span class="icon">
                <i class="fas fa-puzzle-piece"></i>
              </span>
              <p class="inline-space inline-text">Casual</p>
            </div>
          </div>
          <div class="space-between">
            <div class="inline-content">
              <span class="icon">
                <i class="fas fa-chess"></i>
              </span>
              <p class="inline-space inline-text">Strategy</p>
            </div>
          </div>
          <div class="space-between">
            <div class="inline-content">
              <span class="icon">
                <i class="fas fa-brain"></i>
              </span>
              <p class="inline-space inline-text">Intellectual</p>
            </div>
          </div>
          <div class="space-between">
            <div class="inline-content">
              <span class="icon">
                <i class="fas fa-volleyball-ball"></i>
              </span>
              <p class="inline-space inline-text">Sport</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="space-between">Recommended</div>
    <div class="space-between">New!</div>
    <div class="space-between">Most Played!</div>
  </div>
</nav>
