@import '../../../../../../variables.scss';

body {
  width: 100%;
  float: right;
  min-height: 100vh;
  background-color: $form-background;
}

.dollar-img {
  content: url('../../../../../../assets/images/interface/dollar-symbol.png');
  width: 18px;
  alt: 'dollar-symbol';
  padding-right: 0.5em;
}

.section-main {
  padding: 3em 5% 0 5%;
}

.carousel-small-title {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: $menu-hover;
}

.carousel-title-section {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-title {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.all-games-button {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 12px;
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.8em 1.2em;
  text-decoration: none;
  &:hover {
    transition: 0.3s;
    background-color: $light-purple;
  }
}

.carousel-padding-top {
  padding-top: 1em;
}

.game-genre {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  text-decoration: none;
}

.game-info {
  padding-top: 5%;
}

.game-title {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 0 5%;
}

.game-description {
  font-family: 'Roboto', sans-serif;
  color: $menu-hover;
  padding: 5%;
  border-bottom: solid 1px $border-color;
}

.game-purchase {
  padding: 0 5%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: $wallet-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.25em;
  border-radius: 5px;
  // padding: 0.2em 0.5em 0.2em;
  margin-top: 1em;
}

.purchase-button {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.8em 1.2em;
  text-decoration: none;
  margin-top: 1em;
  &:hover {
    transition: 0.3s;
    background-color: $light-purple;
  }
}

.image-button-box {
  display: flex;
  justify-content: center;
  width: 90px;
}

.carousel-image-small {
  position: absolute;
  margin-left: 0.5em;
  display: block;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
}

.small-game-genre {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  margin-top: 60px;
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  text-decoration: none;
}

.small-game-info {
  width: 255px;
  height: 145px;
  margin-right: 10px;
  background: $wallet-background;
  border-radius: 5px;
  counter-increment: carousel-cell;
  margin-top: 1em;
}

.small-game-section {
  padding-top: 5%;
}

.small-game-title {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-left: 90px;
  padding-right: 5%;
}

.smaill-game-description {
  font-family: 'Roboto', sans-serif;
  color: $menu-hover;
  padding-top: 1%;
  padding-bottom: 5%;
  border-bottom: solid 1px $border-color;
  padding-left: 90px;
  padding-right: 5%;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.carousel {
  background: white;
  margin: 0 60px; /* space for prev/next buttons */
}

.carousel-cell {
  width: 255px;
  height: 294px;
  margin-right: 10px;
  background: $wallet-background;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell2 {
  width: 255px;
  height: 145px;
  margin-right: 10px;
  background: $wallet-background;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-image {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 255px;
  height: 144px;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
}

.carousel-image-small {
  position: absolute;
  margin-left: 0.5em;
  display: block;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
}

.image-button-box {
  display: flex;
  justify-content: center;
  width: 90px;
}

.margin-top {
  margin-top: 1em;
}

.padding-top {
  padding-top: 5%;
}

.description-top {
  padding-top: 1%;
}

.section-padding-top {
  padding-top: 3em;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.side-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.description-padding {
  padding-left: 90px;
  padding-right: 5%;
}

.button {
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.8em 1.2em;
  text-decoration: none;
  &:hover {
    transition: 0.3s;
    background-color: $light-purple;
  }
}

.card-below-section {
  padding-bottom: 5%;
  border-bottom: solid 1px $border-color;
}

.space-arrow {
  margin-left: 1em;
  margin-right: 0.5em;
}

.light-text {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.dark-text {
  font-family: 'Roboto', sans-serif;
  color: $menu-hover;
}

.font-size11 {
  font-size: 11px;
}

.font-size12 {
  font-size: 12px;
}

.font-size16 {
  font-size: 16px;
}

.font-size22 {
  font-size: 22px;
}

.upper-button {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  text-decoration: none;
}

.upper-button2 {
  position: absolute;
  margin-top: 60px;
  background-color: $purple;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  text-decoration: none;
}

.wallet {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: $wallet-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.25em;
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

.padding-left {
  padding-left: 0.5em;
}

.margin-right {
  margin-right: 7.2em;
}
