<body>
  <section class="section-main">
    <div class="carousel-small-title">DON'T MISS THEM</div>
    <div class="carousel-title-section">
      <div class="carousel-title">Weekly selection</div>
      <a [href]="homePage" class="all-games-button">All Games</a>
    </div>
    <div
      class="main-carousel carousel-padding-top"
      data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": true, "imagesLoaded": true, "pageDots": false }'
    >
      <div class="carousel-cell" *ngFor="let game of weeklyGames">
        <a matt-button [href]="homePage" class="font-size12 light-text upper-button">{{ game.genre }}</a>
        <img class="carousel-image" [src]="game.imgSrc" [alt]="game.imgAlt" />
        <section class="padding-top">
          <div class="font-size16 light-text side-padding">{{ game.title }}</div>
          <div class="font-size14 dark-text padding-top card-below-section side-padding">
            {{ game.description }}
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img class="dollar-img" />
              <div class="padding-left">{{ game.price }}</div>
            </div>
            <a matt-button [href]="homePage" class="font-size12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- Second Section///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <section class="section-main">
    <div class="carousel-small-title">TO THE TOP</div>
    <div class="carousel-title-section">
      <div class="carousel-title">Popular games</div>
      <a [href]="homePage" class="all-games-button">All Games</a>
    </div>
    <div
      class="main-carousel carousel-padding-top"
      data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": true, "imagesLoaded": true, "pageDots": false }'
    >
      <div *ngFor="let game of popularGames">
        <div class="image-button-box2">
          <img class="carousel-image2" [src]="game.imgSrc" [alt]="game.imgAlt" />
          <a matt-button [href]="homePage" class="font-size12 light-text upper-button2">{{ game.genre }}</a>
        </div>
        <div class="carousel-cell2 margin-top">
          <section class="padding-top">
            <div class="font-size16 light-text description-padding">{{ game.title }}</div>
            <div class="font-size14 dark-text description-top card-below-section description-padding">
              {{ game.description }}
            </div>
            <div class="side-padding flex space-between">
              <div class="wallet margin-top">
                <img class="dollar-img" />
                <div class="padding-left">{{ game.price }}</div>
              </div>
              <a matt-button [href]="homePage" class="font-size12 light-text button margin-top">Purchase</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <div class="section-padding-top"></div>
</body>
