body {
  width: 100%;
  float: right;
  min-height: 100vh;
  background-color: #2b2c3a;
}

.carousel {
  background: #fafafa;
  margin: 0 60px; /* space for prev/next buttons */
}

.carousel-padding-top {
  padding-top: 1em;
}

.carousel-cell {
  width: 255px;
  height: 294px;
  margin-right: 10px;
  background: #3c3c4a;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell2 {
  width: 255px;
  height: 145px;
  margin-right: 10px;
  background: #3c3c4a;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-image {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 255px;
  height: 144px;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
}

.carousel-image2 {
  position: absolute;
  margin-left: 0.5em;
  display: block;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
}

.image-button-box2 {
  display: flex;
  justify-content: center;
  width: 90px;
}

.margin-top {
  margin-top: 1em;
}

.padding-top {
  padding-top: 5%;
}

.description-top {
  padding-top: 1%;
}

.section-padding-top {
  padding-top: 3em;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.side-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.description-padding {
  padding-left: 90px;
  padding-right: 5%;
}

.button {
  background-color: #6f6eff;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.8em 1.2em;
  text-decoration: none;
}

.card-below-section {
  padding-bottom: 5%;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #97979731;
}

.space-arrow {
  margin-left: 1em;
  margin-right: 0.5em;
}

.light-text {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.dark-text {
  font-family: 'Roboto', sans-serif;
  color: #9899a1;
}

.px11 {
  font-size: 11px;
}

.px12 {
  font-size: 12px;
}

.px16 {
  font-size: 16px;
}

.px22 {
  font-size: 22px;
}

.upper-button {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  background-color: #6f6eff;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  text-decoration: none;
}

.upper-button2 {
  position: absolute;
  margin-top: 60px;
  background-color: #6f6eff;
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 5px;
  padding: 0.3em 0.8em;
  text-decoration: none;
}

.wallet {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  background-color: #3b3c4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.25em;
  border-radius: 5px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.padding-left {
  padding-left: 0.5em;
}

.margin-right {
  margin-right: 7.2em;
}
