<body>
  <section class="side-padding section-padding-top">
    <div class="px11 dark-text">DON'T MISS THEM</div>
    <div class="flex space-between">
      <div class="px22 light-text">Weekly quests</div>
      <a href="http://localhost:4200/" class="px12 light-text button margin-right">All Games</a>
    </div>
    <div
      class="main-carousel carousel-padding-top"
      data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": true, "imagesLoaded": true, "pageDots": false }'
    >
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Action</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/pubg.jpg" alt="pubg" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">PUBG</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            Here one hundred players fight in a battle royale.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div>35</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Action</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/overwatch.jpeg" alt="overwatch" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Overwatch</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            A team-based game starring a diverse cast of powerful heroes.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div>30</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Action</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/rock.jpg" alt="dwarfs" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Deep Rock Galactic</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            A 1-4 player cooperative first-person shooter.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div>30</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Action</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/dying.jpg" alt="dying-light" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Dying Light</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            Fight for survival in a post-apocalyptic open world.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div>30</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Adventure</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/space.jpg" alt="space-engineers" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Space Engineers</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            A sandbox game about engineering in space.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div>30</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Action</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/siege.jpg" alt="siege" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Tom Clancy's Rainbow Six Siege</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            A tactical shooter that prioritises careful planning.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div>30</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Intellectual</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/vscode.png" alt="vscode" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Visual Studio Code</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            Play neverending quiz & brain games to train your thinking.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div class="padding-left">FREE</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
      <div class="carousel-cell">
        <a matt-button href="http://localhost:4200/" class="px12 light-text upper-button">Action</a>
        <img class="carousel-image" src="../../../../../../assets/images/posters/warface.jpg" alt="warface" />
        <section class="padding-top">
          <div class="px16 light-text side-padding">Warface</div>
          <div class="px14 dark-text padding-top card-below-section side-padding">
            A free-to-play FPS game similar to tactical shooters.
          </div>
          <div class="side-padding flex space-between">
            <div class="wallet margin-top">
              <img
                src="../../../../../../assets/images/interface/dollar-symbol.png"
                alt="dollar-symbol"
                style="width: 18px"
              />
              <div class="padding-left">FREE</div>
            </div>
            <a matt-button href="http://localhost:4200/" class="px12 light-text button margin-top">Purchase</a>
          </div>
        </section>
      </div>
    </div>
  </section>
</body>
