@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #313242;
}
.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 50px;
  height: 80px;
  border-radius: 5px;
  background: #00000018;
}
.flickity-prev-next-button:hover {
  transition: 0.2s;
  background: #ffffff27;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: #6f6eff;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -50px;
  top: 50%;
}
.flickity-prev-next-button.next {
  top: 50%;
  right: -50px;
}

@media screen and (max-width: 450px) {
  .flickity-prev-next-button.previous {
    left: -15px;
  }
  .flickity-prev-next-button.next {
    right: -15px;
  }
}
