@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $background;
}
.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 50px;
  height: 80px;
  border-radius: 5px;
  background: $carousel-button;
  &:hover {
    transition: 0.3s;
    background: $carousel-button-hover;
  }
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: $purple;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -50px;
  top: 50%;
}
.flickity-prev-next-button.next {
  top: 50%;
  right: -50px;
}

@media screen and (max-width: 450px) {
  .flickity-prev-next-button.previous {
    left: -15px;
  }
  .flickity-prev-next-button.next {
    right: -15px;
  }
}
