$purple: #6f6eff;
$light-purple: #a2a2ff;
$orange-interface: #ff4738;
$background: #313342;
$form-background: #2b2c3a;
$letters: #eee;
$input-background: #303245;
$wallet-background: #3b3c4a;
$dark-red: #8f2117;
$border-color: #97979731;
